@import 'https://fonts.googleapis.com/css?family=Bungee+Hairline|Cutive+Mono';

body {
  font-family: "Cutive Mono", monospace;
  background-color: #330033;
  background-image: url('radio.jpg');
  background-size: 1800px auto;
}

.disable {
	display: none;
}

header {
	/*background-image: url('purplestatic.jpg');*/
  border-top: solid 2px #003300;
  border-bottom: solid 2px #003300;
  background-color: #ffffff;
}

h1 {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
  font-family: "Bungee Hairline", "Helvetice Neue", sans-serif;
  color: #330033;
  font-weight: bold;
}

li {
	display: inline-block;
	list-style: none;
}

#headerLinks {
	float: right;
	text-align: right;
	margin-top: 25px;
}

#headerLinks li {
	color: #330033;
}

a {
	color: #330033;
}

a:hover {
	color: #330033;
}


#headerLinks li:nth-Child(2) {
	margin: 0 10px;
}

/*#bkgd {
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: absolute;
}*/

/*.main {
  height: 100vh;
  background-color: rgba(51, 0, 51, .5);
}*/

.text {
	margin-top: 100px;
	margin-bottom: 50px;
}

h2 {
	margin-top: 10px;
	font-size: 24px;
	line-height: 24px;
	background-color: #ffffff;
	padding: 10px;
	display: inline-block;
}
