@import 'https://fonts.googleapis.com/css?family=Bungee+Hairline|Cutive+Mono';

body {
  font-family: "Cutive Mono", monospace;
  background-color: #f2f2f2;
}

.disable {
	display: none;
}

header {
	background-image: url('purplestatic.jpg');
}

h1 {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
  	font-family: "Bungee Hairline", "Helvetice Neue", sans-serif;
  	color: #ffffff;
}

li {
	display: inline-block;
	list-style: none;
}

#headerLinks {
	float: right;
	text-align: right;
	color: #ffffff;
	margin-top: 25px;
}

#headerLinks li {
	color: #ffffff;
}

a {
	color: #ffffff;
}

a:hover {
	color: #ffffff;
}


#headerLinks li:nth-Child(2) {
	margin: 0 10px;
}

.text {
	margin-top: 100px;
	margin-bottom: 50px;
}

h2 {
	margin-top: 10px;
	font-size: 24px;
	line-height: 24px;
	background-color: #ffffff;
	padding: 10px;
	display: inline-block;
}